<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>beer.me</title>

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> -->
    <link rel="stylesheet" type="text/css" href="/styles/style.css">

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script> -->

    <!--<script src="/scripts/app.js"</script>-->
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>Beer.me</h1>
      </div>
    </div>

    <div class="filters">
      <span><button class="taproom" type="button" name="Taproom"></button><button class="brewpub" type="button" name="Brewpub"></button><button class="brewery" type="button" name="Brewery"></button><button class="bottleshop" type="button" name="Bottleshop"></button></span>
    </div>


    <h2> Craft Beer Destinations </h2>
    <div id="map"></div>


  </body>
</html>
