<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>beer.me</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!--<script type="text/javascript" src="/scripts/app.js"</script>-->
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>Beer.me</h1>
      </div>
    </div>

    <div class="filters">
      <span><button class="taproom" type="button" name="taproom">taproom</button><button class="brewpub" type="button" name="brewpub">brewpub</button><button class="brewery" type="button" name="brewery">brewery</button><button class="bottleshop" type="button" name="bottleshop">bottleshop</button></span>
    </div>


    <h2> Craft Beer Destinations </h2>
    <div id="map"></div>
    <div id="locations">
        <script id="location-template" type="text/x-handlebars-template">
            \{{#each locations}}
              <li class="list-group-item post" data-id="\{{_id}}">

                <!-- post label (title) -->
                <span class="label label-default">\{{name}}</span>

                <!-- post description -->
                \{{location}}

                <div class="pull-right">
                  <!-- pencil icon to toggle update form -->
                  <a href="javascript:void(0)" data-toggle="collapse" data-target="#update-\{{_id}}">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </a>

                  <!-- trash can icon to delete post -->
                   <a href="javascript:void(0)" class="delete-post">
                    <span class="glyphicon glyphicon-trash"></span>
                  </a>
                </div>

                <!-- form to update post -->
                <div class="collapse" id="update-\{{_id}}">
                  <br>
                  <form class="form-inline update-post">
                    <div class="form-group">
                      <input type="text" name="title" class="form-control" placeholder="Name" value="\{{name}}">
                    </div>
                    <div class="form-group">
                      <input type="text" name="description" class="form-control" placeholder="Address" value="\{{location}}">
                    </div>
                    <div class="form-group">
                      <input type="submit" class="btn btn-block btn-default" value="Update">
                    </div>
                  </form>
                </div>
              </li>
            \{{/each}}
        </script>
    </div>
  </body>
</html>
