<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>beer.me</title>

    <link href='https://fonts.googleapis.com/css?family=Schoolbell' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZkuKWEN0cKHb8LLPVqaZxgbhXemNnzF4&callback=initMap"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1 class="header">beer.me</h1>
      </div>
    </div>
    <div class="bubbles"
    <div class="filters">
      <span class="buttons"><button class="taproom" type="button" name="taproom">taproom</button><button class="brewpub" type="button" name="brewpub">brewpub</button><button class="brewery" type="button" name="brewery">brewery</button><button class="bottleshop" type="button" name="bottleshop">bottleshop</button></span>
    </div>


    <h2 class="destination">San Francisco's Craft Beer Map Projectbeer</h2>
    <h5>(click map to activate zoom)</h5>
    <div id="map"></div>
    </div>
    <form class="form-horizontal" id="locationForm">
            <fieldset>

              <!-- Form Name -->
              <legend>Add Craft Beer Spot</legend>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="name">Name</label>
                <div class="col-md-4">
                <input id="name" name="name" type="text" placeholder="" class="form-control input-md" required="">

                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="location">Address</label>
                <div class="col-md-4">
                <input id="addressinput" name="location" type="text" placeholder="" class="form-control input-md">

                </div>
              </div>

              <div class="form-group">
                <label class="col-md-4 control-label" for="latitude">Latitude</label>
                <div class="col-md-4">
                <input id="latinput" name="lat" type="text" placeholder="" class="form-control input-md">

                </div>
              </div>

              <div class="form-group">
                <label class="col-md-4 control-label" for="longitude">Longitude</label>
                <div class="col-md-4">
                <input id="longinput" name="long" type="text" placeholder="" class="form-control input-md">

                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label" for="rating">Rating</label>
                <div class="col-md-4">
                <input id="rateinput" name="rating" type="text" placeholder="0-100" class="form-control input-md">

                </div>
              </div>

              <!-- hidden edit field to discern if the form is for an edit-->

              <input id="locationId" name="locationId" value="false" hidden="true">

              <input id="isEdit" name="isEdit" value="false" hidden="true">

              <!-- Button -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="singlebutton"></label>
                <div class="col-md-4">
                  <button id="singlebutton" type="submit" class="btn btn-primary">Log.me</button>
                </div>
              </div>
            </fieldset>
          </form>
    <h3>Locations</h3>
    <div id="locations">
      <script id="location-template" type="text/x-handlebars-template">
        <div class="beer-location" data-location-id="{{_id}}">
          <hr>
          <p>
            <b>{{name}}</b>
            on {{location}}
            <b>rated</b>- {{rating}}/100
            <button type="button" name="button" class="deleteBtn btn pull-right" id="delete" data-id="{{_id}}">Delete</button>
            <a href='#locationForm'><button type="button" name="edit" class='btn btn-info edit-location pull-right' data-id="{{_id}}">Edit Location</button></a>
          </p>
        </div>
    </script>
    </div>
</html>
