body {
  background-color: rgba(123, 13, 146);
  text-align: center;
}
h1{
  text-align: left;
}
#map {
  width: 75%;
  height: 600px;
  margin-left: 13%
}

.filters{

}

#delete {
  background-color: rgb (238,238,238);
  font-weight: bold;
}
